.DS_Store
*.log
*.tmp
build/
dist/
out/
target/
server/**/target/
client/Unity/Library/
client/Unity/Temp/
client/Unity/Logs/
client/Unity/UserSettings/
client/Unity/obj/
client/Unity/Build/
client/Unity/Builds/
client/Unity/Assets/Game/Generated/
client/Unity/Assets/Game/Generated.meta
client/Unity/Assets/Game/Protocol/Generated/
client/Unity/Assets/Game/Protocol/Generated.meta
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
